#team-list{
	padding: 0 22px;
	@media screen and (max-width: $break-medium) {
		padding:0;
	}
	@extend .clearfix;
	.signpost{
		@media screen and (min-width: $break-medium+1) {
			@include span-columns(4);
			@include omega(3n);
		}
		@media screen and (max-width: $break-medium) {
			@include span-columns(6);
			@include omega(2n);
			margin-bottom: 2.35765%;
		}
		@media screen and (max-width: $break-small) {
			@include span-columns(12);
			margin-bottom: 15px;
		}
		min-height:490px;
		.signpost-inner{
			padding-bottom:10px;
		}
		h3{
			@include font-size(22);
			font-weight: 700;
			@media screen and (max-width: $break-medium) {
				@include font-size(20);
			}
		} 
		figure{
			img{
				display: block;
			}
		}
	}
	.inset{
		padding: 0 30%;
		text-align: center;
		margin: 60px 0;
		@include span-columns(12);
		h3{
			@include font-size(22);
			margin-bottom: 12px;
			font-weight: 700;
		}
		@media screen and (max-width: $break-small) {
			padding: 0 5%;
		}
		figure{
			margin:0 auto 30px;
			width: 25%;
			display: block;
			background-color: white;
			overflow:hidden;
			&:before{
				content:"";
				padding-top:100%;
				display: block;
			}
			@media screen and (max-width: $break-medium) {
				width: 40%;
			}
			@media screen and (max-width: $break-small) {
				width: 50%;
			}
		}
	}
}
#testimonials{

	div{
		@include span-columns(10);
		@include shift(1);
		@media screen and (max-width: $break-medium) {
			@include span-columns(12);
			@include shift(0);
		}
		background-color: white;
		padding: 20px 0 20px 5px;
		margin-bottom: 15px;
	}
	blockquote{
		padding-top:0;
	}
}