.container{
	@include outer-container;
	position: relative;
	@media screen and (max-width: $break-xlarge) {
		padding:0 15px; 
	}
	@media screen and (max-width: $break-small) {
		padding:0 10px;
	}
}

#main{
	background-color: #ebebeb;
	position: relative;
	margin-top:143px;
	padding-bottom: 40px;
	@extend .clearfix;
	&.home{
		margin-top: 200px;
	}
}
