.slider{
	width:100%;
	height:auto;
	.home &{
		position:fixed;
		left:0;
		top:0;
		bottom:0;
	}
	.slick-list,.slick-track,.slick-slide{
		width: 100%;
		height:100%;
		display: block;
	}
	.slick-list{
		position: relative;
		width:100%;
		display: block;
		@extend .clearfix;
		#opening-element-carousel &{
			padding:0 20px;
		}
		.slick-next,.slick-prev{
			@include abs-pos(0,0,auto,auto);
			@include transition(all 0.3s ease-in-out);
			.home &{
				@include abs-pos(50%,auto,auto,0);
			}
			#opening-element-carousel &, #news-archive-carousel &{
				@include abs-pos(50%,auto,auto,-20px);
				margin-top:-17px;
			}
			//margin-top:-20px;
			width:40px;
			height:40px;
			background-color: $orange;
			@include border-radius(50%);
			border:none;
			background-image:url('../images/prev-arrow.png');
			background-position: center center;
			background-repeat:no-repeat;
			@extend %ir;
			#opening-element-carousel &{
				width:35px;
				height:35px;
			}
			&:hover,&:active{
				background-color: $blue;
			} 
		}
		.slick-next{
			.home &{
				right:5px;
				left:auto;
			}
			#opening-element-carousel &,#news-archive-carousel &{
				right:-20px;
				left:auto;
			}
			left:auto;
			background-image:url('../images/next-arrow.png');
		}
		.slick-prev{
			right:45px;
			.home &{
				right:auto;
				left:5px;
			}
		}
		nav{

			@include centered-menu;
			@include abs-pos(auto,auto,0,0);
		}
		.slick-dots{
			//position: relative;
			li{
				margin: 0 3px;
				&.slick-active button{
					background-color: $orange;
				}
			}
			
			button{
				//display: block;
				width:11px;
				height:11px;
				@include border-radius(50%);
				border:none;
				@extend %ir;
				background-color: #e2e3e4;
				display: block;
			}
		}
	}
	.slick-track{
		//padding-top: 197px;
		@extend %clearfix;
		#opening-elements &{
			height:84px;
			overflow: hidden;
		}
	}
	.slick-slide{
		@include bg-cover;
		img{
			@include fit-grid(width);
		}
		#opening-element-carousel &{
			float:left;   
			width:95px;
		}
		#news-archive-carousel &{
			@include span-columns(4);
		}
	}
}