#news-archive{
	@extend .clearfix;
	@include span-columns(12);
	h4{
		text-align: center;
		margin-bottom: 30px;
	}
	.lead-stories{
		@extend .clearfix;
		margin-bottom: $box-padding;
	}
}
#archive-field{
	width:300px;
	margin:0 auto 0;
	label{
		height:42px;
		display: block;
		background-color: black;
		line-height: 42px;
		color: white;
		width:100px;
		text-align: center;
		float: left;
	}
	.selectBox-dropdown{
		width:200px !important;
		background-color: white;
		height:42px;
		.selectBox-label{
			height: 42px;
			line-height: 42px;
		}
		.selectBox-arrow{
			width: 30px;
			height:30px;
			@include border-radius(50%);
			background-color: $orange;
			background-image:url('../images/arrow-down.png');
			background-position: center center;
			background-repeat: no-repeat;
			margin-top: -15px;
			right:12px;
		}
	}
}
#post{
	@include span-columns(10);
	@include shift(1);
	background-color: #fff;
	padding: $box-padding;
	margin-bottom: 60px;
	@media screen and (max-width: $break-medium) {
		@include span-columns(12);
		@include shift(0);
	}
}